{%- comment -%}

    ██████████████████████████████████████████████████████████████

                       AKR Motion - Code Creation

       Specializing in cutting-edge web development, UX/UI, and 
       software solutions. This code was developed by AKR Motion 
                     in 2024 for specific project needs. 

                    Visit: https://akr-motion.com
                 Contact: contact@akr-motion.com

    ██████████████████████████████████████████████████████████████

{%- endcomment -%}

{%- if section.settings.show_image == false or collection.image == blank and section.settings.image == blank -%}
  {%- assign show_image = false -%}
{%- else -%}
  {%- assign show_image = true -%}
{%- endif -%}

{%- capture collection_breadcrumb -%}
  {%- if section.settings.show_breadcrumb -%}
    <nav class="breadcrumb breadcrumb--floating" aria-label="Breadcrumb Navigation">
      <ol class="breadcrumb__list unstyled-list">
        <li class="breadcrumb__list-item">
          <a href="{{ routes.root_url }}" class="smallcaps {% unless show_image %}link-faded{% endunless %}">Home</a>
        </li>

        <li class="breadcrumb__list-item">
          <a href="{{ routes.all_products_collection_url }}" class="smallcaps {% unless show_image %}link-faded{% endunless %}">Shop</a>
        </li>

        <li class="breadcrumb__list-item">
          <a href="{{ collection.url }}" aria-current="page" class="smallcaps {% unless show_image %}link-faded{% endunless %}">{{ collection.title }}</a>
        </li>
      </ol>
    </nav>
  {%- endif -%}
{%- endcapture -%}

{%- capture collection_content -%}
  {%- if section.settings.show_collection_title -%}
    <h1 class="h1">{{ collection.title }}</h1>
  {%- endif -%}

  {%- if section.settings.show_collection_description -%}
    <div class="collection-description">
      {{- collection.description -}}
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- if show_image -%}
  <style>
    #shopify-section-{{ section.id }} {
      --content-over-media-overlay: {{ section.settings.overlay_color.rgb }} / {{ section.settings.overlay_opacity | divided_by: 100.0 }};
      --content-over-media-content-max-width: var(--container-{{ section.settings.content_width }}-max-width);
    }
  </style>

  <collection-banner {% if section.settings.reveal %}reveal-on-scroll="true"{% endif %} class="collection-banner color-scheme color-scheme--{{ section.settings.color_scheme.id }}" {% if section.settings.allow_transparent_header %}allow-transparent-header{% endif %}>
    {%- unless section.settings.allow_transparent_header -%}
      {{- collection_breadcrumb -}}
    {%- endunless -%}

    <div class="content-over-media content-over-media--{{ section.settings.image_size }}">
      <picture>
        {%- if section.settings.enable_parallax -%}
          {%- assign is_attribute = 'image-parallax' -%}
        {%- endif -%}

        {%- if section.settings.mobile_image != blank -%}
          <source
              media="(max-width: 699px)"
              srcset="{{ section.settings.mobile_image | image_url: width: '400x' }} 400w, {{ section.settings.mobile_image | image_url: width: '600x' }} 600w, {{ section.settings.mobile_image | image_url: width: '800x' }} 800w, {{ section.settings.mobile_image | image_url: width: '1000x' }} 1000w"
              width="{{ section.settings.mobile_image.width }}"
              height="{{ section.settings.mobile_image.height }}"
          >
        {%- endif -%}

        {%- assign image = section.settings.image | default: collection.image -%}
        {{- image | image_url: width: image.width | image_tag: is: is_attribute, fetchpriority: 'high', widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200' -}}
      </picture>

      <div class="prose text-center">
        {{ collection_content }}
      </div>
    </div>
  </collection-banner>
{%- elsif collection_content != blank -%}
  <div class="color-scheme color-scheme--{{ section.settings.color_scheme.id }}">
    <div class="relative section-spacing section-spacing--tight">
      <div class="container container--{{ section.settings.content_width }}">
        {{- collection_breadcrumb -}}

        <div class="prose text-center">
          {{- collection_content -}}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Collection Banner",
  "class": "shopify-section--collection-banner",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-4"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Upload collection image."
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image",
      "info": "Upload mobile image."
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image Size",
      "options": [
        {
          "value": "auto",
          "label": "Original Image Ratio"
        },
        {
          "value": "xs",
          "label": "Extra Small"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "auto"
    },
    {
      "type": "checkbox",
      "id": "allow_transparent_header",
      "label": "Allow Transparent Header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "reveal",
      "label": "Enable Reveal on Scroll",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "Enable Parallax",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show Image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "Show Collection Title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "label": "Show Collection Description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumb",
      "label": "Show Breadcrumb",
      "default": true
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "Content Width",
      "options": [
        {
          "value": "xs",
          "label": "Extra Small"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "Extra Large"
        }
      ],
      "default": "xs"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 30
    }
  ]
}
{% endschema %}
