{%- comment -%}
    
    ██████████████████████████████████████████████████████████████
    
                       AKR Motion - Code Creation
    
       Specializing in cutting-edge web development, UX/UI, and 
       software solutions. This code was developed by AKR Motion 
                     in 2024 for specific project needs. 
      
                    Visit: https://akr-motion.com
                 Contact: contact@akr-motion.com
                 
    ██████████████████████████████████████████████████████████████

{%- endcomment -%}

{% schema %}
{
  "name": "Collection List",
  "class": "shopify-section--collection-list",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "Separate section with border",
      "default": true
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image Size",
      "options": [
        {
          "value": "auto",
          "label": "Original Image Ratio"
        },
        {
          "value": "xs",
          "label": "Extra Small"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "auto"
    },
    {
      "type": "checkbox",
      "id": "show_text_outside",
      "label": "Show text outside",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "space_items",
      "label": "Space items",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stack_collections",
      "label": "Stack collections",
      "default": true
    },
    {
      "type": "range",
      "id": "collections_per_row_desktop",
      "min": 1,
      "max": 5,
      "label": "Collections per row (Desktop)",
      "default": 3
    },
    {
      "type": "header",
      "content": "Section Header"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color Scheme",
          "default": "scheme-4"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Recommended image size"
        },
        {
          "type": "checkbox",
          "id": "expand_collection",
          "label": "Expand to fill row",
          "info": "Expand collection to fill row",
          "default": false
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content Position",
          "options": [
            {
              "value": "place-self-start text-start",
              "label": "Top Left"
            },
            {
              "value": "place-self-start-center text-center",
              "label": "Top Center"
            },
            {
              "value": "place-self-start-end text-end",
              "label": "Top Right"
            },
            {
              "value": "place-self-center-start text-start",
              "label": "Middle Left"
            },
            {
              "value": "place-self-center text-center",
              "label": "Middle Center"
            },
            {
              "value": "place-self-center-end text-end",
              "label": "Middle Right"
            },
            {
              "value": "place-self-end-start text-start",
              "label": "Bottom Left"
            },
            {
              "value": "place-self-end-center text-center",
              "label": "Bottom Center"
            },
            {
              "value": "place-self-end text-end",
              "label": "Bottom Right"
            }
          ],
          "default": "place-self-end-start text-start"
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "View products"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link",
          "info": "Button link URL"
        },
        {
          "type": "header",
          "content": "Overlay Colors"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay Opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection List",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}

{%- if section.blocks.size > 0 -%}
  <style>
    #shopify-section-{{ section.id }} {
      {%- if section.settings.stack_collections -%}
        --collection-list-items-per-row: 1;
      {%- else -%}
        --collection-list-item-size: 84vw;
      {%- endif -%}

      {%- if section.settings.space_items -%}
        --collection-list-gap: 1.5rem;
      {%- endif -%}
    }

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        {%- if section.settings.stack_collections -%}
          --collection-list-items-per-row: {{ 2 | at_most: section.settings.collections_per_row_desktop }};
        {%- else -%}
          --collection-list-item-size: 62vw;
        {%- endif -%}
      }
    }

    @media screen and (min-width: 1150px) {
      #shopify-section-{{ section.id }} {
        --collection-list-item-size: unset;
        --collection-list-items-per-row: {{ section.settings.collections_per_row_desktop }};

        {%- if section.settings.space_items -%}
          --collection-list-gap: 1.875rem;
        {%- endif -%}
      }
    }
  </style>

  <div class="section-spacing color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
    <div class="{% if section.settings.space_items %}container{% endif %}">
      <div class="section-stack">
        {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, content: section.settings.content, text_alignment: 'center' -%}

        {% capture collection_list %}
          {%- for block in section.blocks -%}
            {%- assign collection = block.settings.collection -%}
            {%- assign collection_url = block.settings.button_link | default: collection.url -%}

            {%- capture collection_card_info -%}
              <div class="collection-card__content color-scheme color-scheme--{{ block.settings.color_scheme.id }} prose prose--tight {{ block.settings.content_position }}">
                {%- if block.settings.subheading != blank -%}
                  <p class="h6">{{- block.settings.subheading -}}</p>
                {%- endif -%}

                {%- if block.settings.title != blank -%}
                  <p class="h3">{{- block.settings.title -}}</p>
                {%- endif -%}

                {%- if block.settings.button_text != blank -%}
                  {%- render 'button', type: 'button', content: block.settings.button_text -%}
                {%- endif -%}
              </div>
            {%- endcapture -%}

            {%- capture collection_card_content -%}
              <div class="content-over-media content-over-media--{{ section.settings.image_size }}" style="--content-over-media-overlay: {{ block.settings.overlay_color.rgb }} / {{ block.settings.overlay_opacity | divided_by: 100.0 }};">
                {%- assign image = block.settings.image | default: collection.featured_image -%}
                {%- capture sizes -%}(max-width: 699px) 100vw, {% if block.settings.expand_collection %}100vw{% else %}(max-width: 1149px) {{ 100 | divided_by: section.settings.collections_per_row_desktop | at_least: 50 }}vw, {{ 100 | divided_by: section.settings.collections_per_row_desktop }}vw{% endif %}{%- endcapture -%}

                {%- if image != blank -%}
                  {{- image | image_url: width: image.width | image_tag: sizes: sizes, widths: '200,300,400,500,600,800,1000,1200,1400,1600,1800,2000,2200,2400', class: 'zoom-image group-hover:zoom', draggable: 'false' -}}
                {%- else -%}
                  {%- capture collection_placeholder -%}{%- cycle 'collection-1', 'collection-2', 'collection-3' -%}{%- endcapture -%}
                  {{- collection_placeholder | placeholder_svg_tag: 'placeholder zoom-image group-hover:zoom' | replace: '<svg', '<svg preserveAspectRatio="xMinYMin slice"' -}}
                {%- endif -%}

                {%- unless section.settings.show_text_outside -%}
                  {{- collection_card_info -}}
                {%- endunless -%}
              </div>

              {%- if section.settings.show_text_outside -%}
                {{- collection_card_info -}}
              {%- endif -%}
            {%- endcapture -%}

            {%- if collection_url != blank -%}
              <a href="{{ collection_url }}" class="collection-card {% if block.settings.expand_collection %}grow{% endif %} {% unless section.settings.stack_collections %}shrink-0 snap-center{% endunless %} {% if forloop.first %}is-selected{% endif %} group" {{ block.shopify_attributes }}>
                {{- collection_card_content -}}
              </a>
            {%- else -%}
              <div class="collection-card {% if block.settings.expand_collection %}grow{% endif %} {% unless section.settings.stack_collections %}shrink-0 snap-center{% endunless %} {% if forloop.first %}is-selected{% endif %} group" {{ block.shopify_attributes }}>
                {{- collection_card_content -}}
              </div>
            {%- endif -%}
          {%- endfor -%}
        {% endcapture %}

        {% if section.settings.stack_collections or section.blocks.size <= 1 %}
          <div class="collection-list {% if section.settings.show_text_outside %}collection-list--text-outside{% endif %} wrap">
            {{ collection_list }}
          </div>
        {% else %}
          <div class="floating-controls-container floating-controls-container--inside floating-controls-container--on-hover">
            {%- assign carousel_id = 'carousel-' | append: section.id -%}

            <scroll-carousel id="{{ carousel_id }}" group-cells allow-drag class="collection-list scroll-area {% if section.settings.show_text_outside %}collection-list--text-outside{% endif %} bleed lg:unbleed">
              {{ collection_list }}
            </scroll-carousel>

            <button is="carousel-prev-button" type="button" class="prev-next-button prev-next-button--prev circle-button circle-button--lg hover:animate-icon-inline" aria-controls="{{ carousel_id }}" disabled>
              <span class="sr-only">Previous</span>
              {%- render 'icon' with 'arrow-left', direction_aware: true -%}
            </button>

            <button is="carousel-next-button" type="button" class="prev-next-button prev-next-button--next circle-button circle-button--lg hover:animate-icon-inline" aria-controls="{{ carousel_id }}">
              <span class="sr-only">Next</span>
              {%- render 'icon' with 'arrow-right', direction_aware: true -%}
            </button>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{%- endif -%}
