{%- comment -%}

    ██████████████████████████████████████████████████████████████

                       AKR Motion - Code Creation

       Specializing in cutting-edge web development, UX/UI, and 
       software solutions. This code was developed by AKR Motion 
                     in 2024 for specific project needs. 

                    Visit: https://akr-motion.com
                 Contact: contact@akr-motion.com
                 
    ██████████████████████████████████████████████████████████████

{%- endcomment -%}

<style>
  #shopify-section-{{ section.id }} {
    --product-grid: "product-gallery" "product-info" / minmax(0, 1fr);
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      --product-grid: "product-gallery product-info" / minmax(0, {{ 100.0 | minus: section.settings.product_info_size | divided_by: 100.0 }}fr) minmax(0, {{ section.settings.product_info_size | divided_by: 100.0 }}fr);
    }
  }
</style>

{%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient | default: section.settings.color_scheme.settings.background | md5 -%}

<div class="section-spacing color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
  <div class="container {% unless section.settings.container_size == 'full' %}container--{{ section.settings.container_size }}{% endunless %}">
    <div class="section-stack">
      {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, content: section.settings.content, text_alignment: 'center' -%}

      <div class="product">
        {%- if product.media.size > 0 or product == blank -%}
          {%- render 'product-gallery',
              product: section.settings.product,
              desktop_layout: section.settings.desktop_media_layout,
              mobile_controls: section.settings.mobile_controls,
              enable_media_autoplay: section.settings.enable_media_autoplay,
              enable_video_looping: section.settings.enable_video_looping,
              enable_image_zoom: section.settings.enable_image_zoom,
              max_image_zoom_level: section.settings.max_image_zoom_level -%}
        {%- endif -%}

        {%- render 'product-info', product: section.settings.product, center_basic_info: section.settings.center_basic_info, update_url: false -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Product",
  "class": "shopify-section--featured-product",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "Separate Section with Border",
      "default": true
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "Section Width",
      "options": [
        {
          "value": "lg",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "Extra Large"
        },
        {
          "value": "full",
          "label": "Full Width"
        }
      ],
      "default": "lg"
    },
    {
      "type": "range",
      "id": "product_info_size",
      "label": "Product Info Size",
      "min": 30,
      "max": 60,
      "step": 1,
      "unit": "%",
      "default": 45
    },
    {
      "type": "checkbox",
      "id": "center_basic_info",
      "label": "Center Basic Info",
      "default": false
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "select",
      "id": "desktop_media_layout",
      "label": "Desktop Media Layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "grid_2x",
          "label": "Grid 2x"
        },
        {
          "value": "grid_2x_highlighted",
          "label": "Grid 2x Highlighted"
        },
        {
          "value": "carousel_thumbnails_left",
          "label": "Carousel with Thumbnails Left"
        },
        {
          "value": "carousel_thumbnails_bottom",
          "label": "Carousel with Thumbnails Bottom"
        },
        {
          "value": "carousel_dots",
          "label": "Carousel with Dots"
        }
      ],
      "default": "carousel_thumbnails_bottom"
    },
    {
      "type": "range",
      "id": "desktop_media_grid_gap",
      "min": 0,
      "max": 50,
      "unit": "px",
      "label": "Grid Gap",
      "default": 30
    },
    {
      "type": "select",
      "id": "mobile_controls",
      "label": "Mobile Controls",
      "options": [
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "thumbnails",
          "label": "Thumbnails"
        },
        {
          "value": "free_scroll",
          "label": "Free Scroll"
        }
      ],
      "default": "dots"
    },
    {
      "type": "checkbox",
      "id": "enable_media_autoplay",
      "label": "Enable Media Autoplay",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable Video Looping",
      "default": true
    },
    {
      "type": "header",
      "content": "Image Zoom"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable Image Zoom",
      "default": false
    },
    {
      "type": "range",
      "id": "max_image_zoom_level",
      "min": 1,
      "max": 4,
      "step": 0.5,
      "label": "Max Image Zoom Level",
      "default": 3
    },
    {
      "type": "header",
      "content": "Section Header"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading",
      "default": "Featured product"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    }
  ]
}
{% endschema %}
