{%- comment -%}

    ██████████████████████████████████████████████████████████████

                       AKR Motion - Code Creation

       Specializing in cutting-edge web development, UX/UI, and 
       software solutions. This code was developed by AKR Motion 
                     in 2024 for specific project needs. 

                    Visit: https://akr-motion.com
                 Contact: contact@akr-motion.com

    ██████████████████████████████████████████████████████████████

{%- endcomment -%}

<div class="section-spacing section-spacing--tight">
  <div class="container container--lg">
    <div class="section-stack">
      <div class="v-stack justify-items-start gap-6">
        <a href="{{ routes.account_logout_url }}" class="text-with-icon h6 link-faded" data-no-instant>
          {%- render 'icon' with 'chevron-left', width: 10, direction_aware: true -%}
          Logout
        </a>

        <div class="section-header text-start">
          <div class="prose">
            <h1 class="h3">Account</h1>
            <p>Welcome to your account dashboard</p>
          </div>
        </div>
      </div>

      <div class="v-stack gap-10">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {%- render block -%}

            {%- when 'liquid' -%}
              {%- if block.settings.liquid != blank -%}
                <div {{ block.shopify_attributes }}>
                  {{- block.settings.liquid -}}
                </div>
              {%- endif -%}

            {%- when 'orders' -%}
              <div class="customer-account-overview" {{ block.shopify_attributes }}>
                <!-- CUSTOMER ORDERS -->
                <div class="v-stack gap-6 sm:gap-8">
                  {%- if customer.orders.size == 0 -%}
                    <p class="customer-account-category h6 text-subdued">Your Orders</p>

                    <div class="prose">
                      <p>No orders found.</p>

                      {%- assign button_label = 'Continue Shopping' -%}
                      {%- render 'button', href: routes.all_products_collection_url, content: button_label -%}
                    </div>
                  {%- else -%}
                    {%- paginate customer.orders by 16 -%}
                      <div class="v-stack gap-6 md:hidden">
                        <p class="customer-account-category h6 text-subdued">Your Orders</p>

                        <div class="v-stack gap-8">
                          {%- for order in customer.orders -%}
                            <div class="v-stack gap-2">
                              <p class="bold">Order: {{ order.name }}</p>

                              <div class="v-stack gap-4">
                                <div class="customer-account-order-grid">
                                  <div>
                                    <p class="text-subdued">Date</p>
                                    <p>{{ order.created_at | date: format: 'date' }}</p>
                                  </div>

                                  <div>
                                    <p class="text-subdued">Fulfillment Status</p>
                                    <p>{{ order.fulfillment_status_label }}</p>
                                  </div>

                                  <div>
                                    <p class="text-subdued">Payment Status</p>
                                    <p>{{ order.financial_status_label }}</p>
                                  </div>

                                  <div>
                                    <p class="text-subdued">Total</p>
                                    <p>{{ order.total_net_amount | money }}</p>
                                  </div>
                                </div>

                                {%- capture button_label -%}View Details{%- endcapture -%}
                                {%- render 'button', href: order.customer_url, content: button_label, style: 'outline' -%}
                              </div>
                            </div>
                          {%- endfor -%}
                        </div>
                      </div>

                      <table class="table table--reduce-border table--lg hidden md:table">
                        <thead>
                        <tr>
                          <th>Order</th>
                          <th>Date</th>
                          <th>Payment Status</th>
                          <th>Fulfillment Status</th>
                          <th class="text-end">Total</th>
                        </tr>
                        </thead>

                        <tbody>
                          {%- for order in customer.orders -%}
                            <tr onclick="window.location.href = '{{ order.customer_url }}'">
                              <td>
                                <span class="no-js:hidden">{{ order.name }}</span>
                                <noscript>
                                  <a href="{{ order.customer_url }}" class="link">{{ order.name }}</a>
                                </noscript>
                              </td>
                              <td>{{ order.created_at | date: format: 'date' }}</td>
                              <td>{{ order.financial_status_label }}</td>
                              <td>{{ order.fulfillment_status_label }}</td>
                              <td class="text-end">{{ order.total_net_amount | money }}</td>
                            </tr>
                          {%- endfor -%}
                        </tbody>
                      </table>

                      {%- render 'pagination', paginate: paginate -%}
                    {%- endpaginate -%}
                  {%- endif -%}
                </div>

                <!-- CUSTOMER PRIMARY ADDRESS -->
                <div class="v-stack gap-6 sm:gap-8">
                  <p class="customer-account-category h6 text-subdued">Primary Address</p>

                  <div class="prose">
                    {%- if customer.addresses_count == 0 -%}
                      <p>No addresses on file.</p>
                    {%- else -%}
                      {{- customer.default_address | format_address -}}
                    {%- endif -%}

                    {%- assign button_label = 'Manage Addresses' -%}
                    {%- render 'button', href: routes.account_addresses_url, content: button_label -%}
                  </div>
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Customer Account Section",
  "class": "shopify-section--main-customers-account",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "liquid",
      "name": "Custom Liquid Block",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Custom Liquid Code"
        }
      ]
    },
    {
      "type": "orders",
      "name": "Order List",
      "limit": 1
    }
  ]
}
{% endschema %}
